<li>
	{{name}}

	<button class="change-type" data-id="{{id}}" data-newtype="{{type}}">
		{{#if type}}Burger Type!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>